<html>
<head>
<title>ooops!</title>
<link rel="stylesheet" href="404.css" type="text/css" media="all" />
</head>
<body>
<span class="neg">{{ heading }}</span>
<p>
<center>  {{ heading2 }} </center>
<!-- You just did something which you are not allowed to do. You can repeat it<br />
again but in vain, or you can do what you are told to do. -->
</p>
<p>
{% for line in algorithm %}
* {{ line }} <br />
{% endfor %}
<!-- * Send us an e-mail if you want and we won't respond.<br />

* Press CTRL+ALT+DEL to restart your computer. You will<br />
 &nbsp; lose unsaved information in any programs that are running. -->
</p>
Press any link to continue <blink>_</blink>
<div class="menu">
<a href="/">Home Page</a> |
<a href="/contactus">webmaster</a> |
</div>

</body>
<style>
body {
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:12pt;
    text-align:center;
    margin:100px;
}

blink {
    color:yellow;
}

.neg {
    background:#fff;
    color:#0000aa;
    padding:2px 8px;
    font-weight:bold;
}

p {
    margin:30px 100px;
    text-align:left;
}

a,a:hover {
    color:inherit;
    font:inherit;
}

.menu {
    text-align:center;
    margin-top:50px;
}
</style>
</html>
