
<!DOCTYPE html><html class=''>
<head>

<style class="cp-pen-styles">
h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI Light";
  font-weight: 300;
}

body {
  font-family: "Segoe UI";
  color: #FFF;
  background: #008CFF;
  margin: 0;
}

main {
  margin: 4% 35%;
}

.emotion {
  font-size: 8em;
  margin: 0;
}

.description {
  font-size: 1.4em;
  margin-bottom: 3em;
}

footer small {
  font-size: 0.8em;
}
</style></head><body>

<main>
  <header>
    <h1 class="emotion">:(</h1>
  </header>
  <p class="description">You just did something which you are not allowed to do.<span role="progress">&nbsp;(0% complete)</span></p>
  <footer>
    <p><small>If you'd like to know more, you can contact the administrator:<span>&nbsp;HAL_INITIALIZATION_FAILED</span></small></p>
  </footer>
</main>

<script>(function() {


}).call(this);

//# sourceURL=pen.js
</script>
</body></html>
