{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block cont1 %}Contact{% endblock %}
{% block cont2 %}{% endblock %}
{% load staticfiles %}
{% block content %}

  <link   rel="stylesheet" href="{% static "css/cntct.css" %}" >

<div class="contact-cards container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <span class="icon">
          <i class="fa fa-phone"></i>
        </span>
        <div class="content-wrap">
          <span class="item-title">
            Call us anytime
          </span>
          <p class="text">
            +386 5555 235 / +386 8754 231
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <span class="icon">
          <i class="fa fa-map-o"></i>
        </span>
        <div class="content-wrap">
          <span class="item-title">
            Our headquarters                        </span>
          <p class="text">
            300 Pennsylvania Ave NW, 
            Washington, DC 20006, USA
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <span class="icon">
          <i class="fa fa-envelope-o"></i>
        </span>
        <div class="content-wrap">
          <span class="item-title">
            Call us anytime
          </span>
          <p class="text">
            +386 5555 235 / +386 8754 231
          </p>
        </div>
      </div>
    </div>
   <div class="col-md-4">
      <div class="card">
        <span class="icon">
          <i class="fa fa-phone"></i>
        </span>
        <div class="content-wrap">
          <span class="item-title">
            Call us anytime
          </span>
          <p class="text">
            +386 5555 235 / +386 8754 231
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <span class="icon">
          <i class="fa fa-map-o"></i>
        </span>
        <div class="content-wrap">
          <span class="item-title">
            Our headquarters                        </span>
          <p class="text">
            300 Pennsylvania Ave NW, 
            Washington, DC 20006, USA
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <span class="icon">
          <i class="fa fa-envelope-o"></i>
        </span>
        <div class="content-wrap">
          <span class="item-title">
            Call us anytime
          </span>
          <p class="text">
            +386 5555 235 / +386 8754 231
          </p>
        </div>
      </div>
    </div>        
  </div>
</div>


{% endblock %}


