{% extends 'base.html' %}
{% block title %} Mess Bill {% endblock %}
{% load staticfiles %}
{% block content %}

<style type="text/css">
	.col1{
    
    padding-right: 600px;
    

	}
</style>
<div class="container-fluid">
  <div id="bill-display">
    <!-- ----- HEADER ---- -->
    <table class="table table-bordered">
      <caption class="text-center"> <h1> Mess Bill </h1></caption>
      <tr>
        <th>
          <div class="col1">
           <h2>Month</h2>  
            <ol>
              <br>
              <li>January</li> <br>
              <li>February</li> <br>
              <li>March</li> <br>
              <li>April</li> <br>
              <li>May</li> <br>
              <li>June</li> <br>
              <li>July</li> <br>
              <li>August</li> <br>
              <li>September</li> <br>
              <li>October</li> <br>
              <li>November</li> <br>
              <li>December</li> <br>
              
            
           </ol>
          </div>
        </th>      
       
        <td>
          <div class="col2"><b><h2>INR(Rs.)</h2></b></div>
          <div class="box-content"><ul>
              <br>
              <li>0.00</li> <br>
              <li>0.00</li> <br>
                <li>0.00</li> <br>
              <li>0.00</li> <br>
              <li>0.00</li> <br>
              <li>0.00</li> <br>
                <li>0.00</li> <br>
              <li>0.00</li> <br>
              <li>0.00</li> <br>
              <li>0.00</li> <br>
                <li>0.00</li> <br>
              <li>0.00</li> <br>
           
            
           </ul></div> 
            </td>
            <tr>
    </table>
  </div>
</div>
        
      
      
      

{% endblock %}



