{% extends 'base.html' %}
{% block title %}Registration{% endblock %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static "login/css/style.css" %}">

    <div class="login">
    <form action="/registeration/" method="post">
      {% csrf_token %}
  <div class="left">
    <h1>Sign up</h1>
    <input type="text" name="name" placeholder="Full Name" required="">
    <input type="text" name="username" placeholder="Username" required=""/>
    <input type="text" name="email" placeholder="E-mail" required=""/>
    <input type="password" name="password" placeholder="Password" required=""/>
    <input type="password" name="password2" placeholder="Retype password" required=""/>

    <input type="submit" name="signup_submit" value="Sign me up" />
  </div>
</form>
<a href="javascript:window.print()"><input type="submit" value="print this page"/></a>
</div>

{% endblock %}
