{% extends 'base.html' %}
{% block title %}registeration{% endblock %}
{% block cont1%}registeration{% endblock %}
{% block cont2%}{% endblock %}
{% load staticfiles %}
{% block content %}
<style>


.form-box {
    width: 50%;
    margin: auto;
    padding-top:20px;
}

.form-box h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: tomato;
}

.form-box h1 span {
    font-weight: lighter;
}
</style>
<div class="container">
  <div class="row">
    <div class="form-box">
        <h1>Form <span>Registration</span></h1>
          <form action="/registration/" method="post" id="contact-form">
            {% csrf_token %}
              {{ form.as_p }}
          <!--
                <div class="form-group">
                <div id="emailError" class="sr-only"" role="alert"></div>
                <label for="form-email-field" class="sr-only">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        <input type="email" class="form-control" id="form-email-field" value="" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                <div id="phoneError" class="sr-only"" role="alert"></div>
                <label for="form-phone-field" class="sr-only">Phone</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                        <input type="tel" class="form-control" id="form-phone-field" value="" placeholder="Phone">
                    </div>
                </div>
                <input type="text" name="bank" class="form-control" id="form-phone-field" value="" placeholder="Bank Account">
                <input type="text" name="ifsc" class="form-control" id="form-phone-field" value="" placeholder="Ifsc Code">
                <input type="text" name="bank_name_and_address" class="form-control" id="form-phone-field" value="" placeholder="Bank Name and address">
                <input type="text" name="fatherName" class="form-control" id="form-phone-field" value="" placeholder="Fathers name">
                <input type="text" name="roll" class="form-control" id="form-phone-field" value="" placeholder="Roll number">
                <input type="text" name="branch" class="form-control" id="form-phone-field" value="" placeholder="Branch">
                <input type="text" name="course" class="form-control" id="form-phone-field" value="" placeholder="Course E.g B.Tech">

                <input type="text" name="passYear" class="form-control" id="form-phone-field" value="" placeholder="Passing Year">
                <input type="text" name="" class="form-control" id="form-phone-field" value="" placeholder="Bank Account">
                <input type="text" name="bank" class="form-control" id="form-phone-field" value="" placeholder="Bank Account">
                <input type="text" name="guardian_address" class="form-control" id="form-phone-field" value="" placeholder="guardian's address">
                <input type="text" name="home_address" class="form-control" id="form-phone-field" value="" placeholder="home_address">
                <input type="text" name="mobile" class="form-control" id="form-phone-field" value="" placeholder="Mobile_no.">
                <input type="text" name="email" class="form-control" id="form-phone-field" value="" placeholder="Email_id">
                <input type="file" name="file" class="form-control" id="form-phone-field" value="" placeholder="Upload your pho">

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="checkbox-form"> I agree to terms and condition.
                </label>

            </div>  -->
            <button type="submit" class="btn btn-default">Submit</button>
            <input type="button" value="Print this page" onClick="window.print()">
          </form>
    </div>
  </div>
</div>

{% endblock %}
